.reload-button {
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 50%; /* Forma circular */
    width: 30px; /* Ancho del botón */
    height: 30px; /* Alto del botón */
    display: flex; /* Para centrar el icono */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave al hacer hover */
    padding: 0; /* Eliminar padding interno */
  }
  
  .reload-button:hover {
    background-color: #ddd; /* Fondo gris un poco más oscuro al hacer hover */
  }
  
  .reload-icon {
    width: 24px; /* Ajusta el tamaño según necesites */
    height: 24px; /* Ajusta el tamaño según necesites */
  }

  .reload-icon-container {
    margin-left: 8px; /* Ajusta este valor para controlar el espacio */
  }
  
  .reload-icon:hover {
    opacity: 0.8; /* Ejemplo: Reduce la opacidad al hacer hover */
    /* O podrías probar con un pequeño scale: */
    /* transform: scale(1.1);
    transition: transform 0.2s ease-in-out; */
  }