@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tus estilos personalizados (si los tienes) */
.alert-success {
  color: green;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}



/* Styles for the calendar */
.bg-orange-200 {
  background-color: #ff8903;
}
.bg-blue-200 {
  background-color: hsl(195, 96%, 71%);
}
.bg-blue-900 {
  background-color: #1e3a8a;
  color: white;
}
.text-white {
  color: white;
}
.border {
  border: 1px solid #e5e7eb;
}
.border-2 {
  border-width: 3px;
}
.border-red-500 {
  border-color: #000000;
}
.bg-white {
  background-color: rgb(255, 255, 255);
}
.bg-gray-100 {
  background-color: #f0f3fb;
}
.bg-gray-200 {
  background-color: #e6ebf6;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded {
  border-radius: 0.25rem;
}
.shadow-md {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.gap-1 {
  gap: 0.25rem;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.h-8 {
  height: 2rem;
}
.w-4 {
  width: 1rem;
}
.w-12 {
  width: 3rem;
}
.w-16 {
  width: 4rem;
}
.border-r {
  border-right: 1px solid #e5e7eb;
}
.pr-2 {
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.relative {
  position: relative;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.rounded-full {
  border-radius: 9999px;
}
.text-sm {
  font-size: 0.875rem;
}
.font-semibold {
  font-weight: 600;
}
.transition-colors {
  transition: background-color 0.3s ease;
}
.hover\:bg-gray-300:hover {
  background-color: #bdc1c9;
}

/* Custom styles for the calendar */
.today {
  font-size: 1.2rem;
  animation: pulse 1s infinite;
}

.today-expanded {
  font-size: 1.5rem;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f3fb;
  max-width: 1200px; /* Puedes ajustar este valor al ancho máximo que desees */
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para la sección del repo (la tabla) */
#repo {
  margin-top: 2rem; /* Equivalente a mt-8 */
  width: 90%; /* Ocupar el 90% del ancho por defecto (para móviles) */
  margin-left: auto;
  margin-right: auto; /* Centrar la tabla por defecto */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: #1f2937; /* Gris oscuro */
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

nav a:hover {
  color: #d1d5db; /* Gris claro al pasar el mouse */
}

@media (max-width: 768px) {
  nav .block {
    display: block;
  }
}

/* General Styles for Calendar */
.bg-orange-200 {
  background-color: #ff8903;
}
.bg-blue-200 {
  background-color: hsl(195, 96%, 71%);
}
.bg-blue-900 {
  background-color: #1e3a8a;
  color: white;
}
.text-white {
  color: white;
}
.border {
  border: 1px solid #e5e7eb;
}
.border-2 {
  border-width: 3px;
}
.border-red-500 {
  border-color: #000000;
}
.bg-white {
  background-color: rgb(255, 255, 255);
}
.bg-gray-100 {
  background-color: #f0f3fb;
}
.bg-gray-200 {
  background-color: #e6ebf6;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded {
  border-radius: 0.25rem;
}
.shadow-md {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.gap-1 {
  gap: 0.25rem;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.h-8 {
  height: 2rem;
}
.w-4 {
  width: 1rem;
}
.w-12 {
  width: 3rem;
}
.w-16 {
  width: 4rem;
}
.border-r {
  border-right: 1px solid #e5e7eb;
}
.pr-2 {
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.relative {
  position: relative;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.rounded-full {
  border-radius: 9999px;
}
.text-sm {
  font-size: 0.875rem;
}
.font-semibold {
  font-weight: 600;
}
.transition-colors {
  transition: background-color 0.3s ease;
}
.hover\:bg-gray-300:hover {
  background-color: #bdc1c9;
}

/* Custom styles for the calendar */
.today {
  font-size: 1.2rem;
  animation: pulse 1s infinite;
}

.today-expanded {
  font-size: 1.5rem;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Estilos para el contenedor del menú */
.navbar {
  background-color: #333; /* Fondo oscuro */
  overflow: hidden; /* Para evitar desbordamiento */
}

/* Estilos para los enlaces del menú */
.navbar a {
  float: left; /* Para alinearlos a la izquierda */
  display: block; /* Para que ocupen toda el área de su contenedor */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 14px 20px; /* Espaciado interno */
  text-decoration: none; /* Sin subrayado */
}

/* Cambiar el color al pasar el ratón por encima */
.navbar a:hover {
  background-color: #ddd; /* Fondo claro */
  color: black; /* Color del texto */
}

/* Estilos para elementos activos del menú */
.navbar a.active {
  background-color: #4CAF50; /* Fondo verde */
  color: white; /* Color del texto */
}


.camara-celda.bg-blue-100 {
  background-color: #e0f2fe !important; /* Un azul más claro */
}

.camara-celda.bg-green-100 {
  background-color: #f0fff4 !important; /* Un verde muy claro */
}

.camara-celda.bg-yellow-100 {
  background-color: #fffde7 !important; /* Un amarillo muy claro */
}

.camara-celda.bg-orange-100 {
  background-color: #fff3e0 !important; /* Un naranja muy claro */
}

.camara-celda.bg-purple-100 {
  background-color: #f3e5f5 !important; /* Un morado muy claro */
}

.camara-celda.bg-red-100 {
  background-color: #ffebee !important; /* Un rojo muy claro */
}

.camara-celda.bg-teal-100 {
  background-color: #e0f7fa !important; /* Un verde azulado muy claro */
}

.camara-celda.bg-pink-100 {
  background-color: #fce4ec !important; /* Un rosa muy claro */
}

.digital-time {
  font-family: monospace; /* Fuente monoespaciada para que los caracteres tengan el mismo ancho */
  font-size: 1.2em; /* Ajusta el tamaño según necesites */
  color: #a7ff83; /* Color verde similar al de la imagen */
  background-color: #000; /* Fondo negro */
  padding: 2px 5px; /* Un poco de espacio alrededor del texto */
  border-radius: 3px; /* Bordes ligeramente redondeados */
  letter-spacing: 2px; /* Espacio entre caracteres para simular segmentos */
}

